.float-left{
    float: left;
}
.float-right{
    float:right;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}
.flex{
    display: flex;
}
.block{
    display: block;
}

.sp-bw{
    justify-content: space-between;
}
.sp-bw{
    justify-content: space-between;
}
.text-white{
    color: white;
}